@import url(http://fonts.googleapis.com/css?family=Montserrat);

html,body{
    font-family:  Montserrat, Trebuchet, sans-serif; height: 100%; margin: 0; padding: 0;
}

/*.navbar{*/
    /*!*background-color: #EFAA1F;*!*/
    /*background-color: #EDA649;*/
/*}*/

.navbar.navbar-default{
    font-family:  Montserrat, Trebuchet, sans-serif;
    background-color: #F9DA68 !important;
}

.jumbotron{
    margin-bottom: 0px;
}

#addressSearch{
    width: 450px;
}

/*GOOGLE MAP*/
#map{
    position: relative;
    background-color: grey;
    z-index: 2;
}

.filterResults{
    display: none;
}

.navbar-brand{
    margin-top: -10px;
}

.navbar-fixed-bottom{
    position: relative;
    margin-top: 0px;
}

.navbar-right, #gps{
    margin-top: 7px;
}

/*for jqRangeSlider*/
#dateSlider, #hourSlider{
    margin-bottom: 5px;
    font-size: 10px;
}

.btn-toolbar{
    margin-top: 5px;
}

#gps{
    margin-bottom: -22px;
}

/*#login, #logout, #drop{*/
    /*margin-bottom: 10px;*/
/*}*/

.modal{
    margin-top: 40px;
}

.modal-backdrop {
    /*to display the modal in front of everything else*/
    z-index: -1;
}

.alert{
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-fixed-bottom{
    position: relative;
    margin-top: 0px;
}

/*.dropdown-menu{*/
    /*width: 50px !important;*/
/*}*/

.dropup{
    margin-top: 25px;
    /*width: 50px;*/
}

#filter{
    margin-top: 25px;
}

/*in admin page*/
#back.btn.btn-default{
    margin-top:3px;
}

